<mat-list class="list">
    <mat-list-item><mat-card class="listItem">Tinu «TTT» (Lucky Dalton) Schmutz bguitar</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Urs «Hoschi» (William Dalton) Hostettler vocals, guitar</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Beat (Avarell Dalton) Wey keyboards, vocals, harmonica</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Christian «Chrigu» (Jack Dalton) Wey bass, vocals</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Thomas «Tom» (Little Joe Dalton) Wüthrich drums (if Steffu’s off)</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Stefan «Steffu» (Big Joe Dalton) Kernen drums (if Tom’s off)</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Additional musical content by Christian «Chrigu» (Jail-Director Smith) Blaser guitar, vocals</mat-card></mat-list-item>
    <mat-list-item><mat-card class="listItem">Sound engineering by Marco (Uncle Dalton) Coray</mat-card></mat-list-item>        
    <br>
    <br>
    <p>List of The Daltons Alumni: </p>
    <p>Ädu (d), Schmidt (g), Steve (p), Hämpu (d), Dänu (d), Maggie (v), Ässu (g,v)</p>
    <p> …and we will always remember Bädu Zaugg (Ma Dalton)…</p>
</mat-list>
