<div>
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon class="sidenav">menu</mat-icon>
      </button>
      <a href="/">
        <img class="image" href="/" src="../../../assets/daltonsBild-removebg-preview.png" alt="search-icon" fxHide.lt-md="true">
      </a>
      <a href="/">
        <span fxShow.lg >
          <h1 class="daltons">Daltons</h1>
          <p class="itsOnly" fxHide.lt-md="true">It's Only Rock'n'Roll</p>
        </span>
      </a>
      <div class="spacer" fxShow="true" fxHide.lt-md="true">
        <a class="tap" href="news" mat-button>News</a>
        <a class="tap" href="members" mat-button>Members</a>
        <a class="tap" href="history" mat-button>History</a>
        <a class="tap" routerLink="music" mat-button>Music</a>
        <a *ngIf="!logedin" class="tap" routerLink="login" mat-button>Login</a>
        <a *ngIf="logedin" class="tap" routerLink="login" (click)="logout" mat-button>Logout</a>
        <a class="tap" routerLink="register" mat-button>Register</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div class="sidenavlist">
          <a class="sidenavtap" href="news" mat-button>News</a>
          <a class="sidenavtap" href="members" mat-button>Members</a>
          <a class="sidenavtap" href="history" mat-button>History</a>
          <a class="sidenavtap" routerLink="music" mat-button>Music</a> 
          <a *ngIf="!logedin" class="sidenavtap" routerLink="login" mat-button>Login</a>
          <a *ngIf="logedin" class="sidenavtap" routerLink="login" (click)="logout()" mat-button>Logout</a>
          <a class="sidenavtap" routerLink="register" mat-button>Register</a>
      </div>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
