<div class="history">
<p>(read this with a terrible accent)

The band was founded in 1984 by Urs Hostettler. First he played the guitar, then the bass and since 1992 he is the frontman on the vocals. In 1991, Martin Schmutz, the marvellous guitar-player, in 1992, Christian Wey, the bands hammering bass player, in 1995, Beat Wey, the incredible piano-player and Tom Wüthrich, Mr. Doublekettledrummer joined the band.

Since 2001 The Daltons trust in Marco Coray, the famous sound engineer, for best livesound.

They are working for hours and hours in a small room in Wichtrach (Switzerland) and try to tune up the sound…

In 1994 the Daltons recorded a powerful first tape that was immediately sold out! Then in 1995 the first CD was recorded, 20 minutes full of Daltons-sound! On June 11th and 12th 1999, the Daltons recorded a live CD at the Budway pub in Thun, Switzerland. This CD was presented on 4th of December 1999 in Wichtrach, Switzerland at a damned good party.

The Daltons played more than 300 concerts all over Switzerland and Germany. The powerful shows last up to 3 hours! (once a guitar-player left the stage after half an hour and never came back…)

As a highlight in the bands history The Daltons made a two-weeks Costa Rica/Central America tour in 2003!
</p>
</div>