<mat-card class="history">
    <mat-card-title>The History of "Daltons"</mat-card-title>
    <mat-card-subtitle>read this with a terrible accent</mat-card-subtitle>
    <mat-card-content>
      The band was founded in 1984 by Urs Hostettler. First he played the guitar, then the bass and since 1992 he is the frontman on the vocals. In 1991, Martin Schmutz, the marvellous guitar-player, in 1992, Christian Wey, the bands hammering bass player, in 1995, Beat Wey, the incredible piano-player and Tom Wüthrich, Mr. Doublekettledrummer joined the band.
      They are working for hours and hours in a small room in Wichtrach (Switzerland) and try to tune up the sound…
      In 1994 the Daltons recorded a powerful first tape that was immediately sold out! Then in 1995 the first CD was recorded, 20 minutes full of Daltons-sound! On June 11th and 12th 1999, the Daltons recorded a live CD at the Budway pub in Thun, Switzerland. This CD was presented on 4th of December 1999 in Wichtrach, Switzerland at a damned good party.
      As a highlight in the bands history The Daltons made a two-weeks Costa Rica/Central America tour in 2003!
    </mat-card-content>
  </mat-card>