.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label{
    font-size: x-large;
    margin: 4vw;
    align-self: center;
}
.input{
    margin-top: 2vw;
    align-self: center;
    height: 7vh;
}
.button{
    margin-top: 2vw;
    width: 16vw;
    height: 8vh;
}
.names{
    margin-top: 10vw;
    font-size: x-large;
}
