<div class="register" [formGroup]="newUser">
    <div class="names">
        <div>
            <mat-label class="label">Username</mat-label>
            <input class="input" matInput formControlName="username">
        </div>
        <div>
            <mat-label class="label">Vorname</mat-label>
            <input class="input" matInput formControlName="firstName">
        </div>
        <div>
            <mat-label class="label">Nachname</mat-label>
            <input class="input" matInput formControlName="lastName">
        </div>
        <div>
            <mat-label class="label">E-Mail</mat-label>
            <input class="input" matInput formControlName="email">
        </div>
        <div>
            <mat-label class="label">Password</mat-label>
            <input class="input" matInput formControlName="password">
        </div>
    </div>
    <button class="button" (click)="registeration()">Registrieren</button>
</div>
